[submodule "Seguros"]
	path = Seguros
	url = https://github.com/XarthDaichi/Seguros.git
[submodule "practicaExamen1-prograIV"]
	path = practicaExamen1-prograIV
	url = https://github.com/XarthDaichi/practicaExamen1-prograIV.git
